[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/cglm"]
	path = libs/cglm
	url = https://github.com/recp/cglm.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/emscripten-glfw"]
	path = libs/emscripten-glfw
	url = https://github.com/pongasoft/emscripten-glfw
[submodule "libs/freetype2"]
	path = libs/freetype2
	url = https://github.com/freetype/freetype
[submodule "libs/cgltf"]
	path = libs/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "docs/gltf"]
	path = docs/gltf
	url = https://github.com/KhronosGroup/glTF
[submodule "docs/gltf-tutorials"]
	path = docs/gltf-tutorials
	url = https://github.com/KhronosGroup/glTF-Tutorials
